@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
.heading1 {
  font-size: 78px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.heading1 span {
  opacity: 0.5;
}

.pargraph {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.heading2 {
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.overline {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #deecf9;
  text-transform: uppercase;
  opacity: 0.5;
}

.label1 {
  font-size: 117px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #deecf9;
  opacity: 0.5;
}

.body2 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #deecf9;
  opacity: 0.5;
}

.button {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

body {
  font-family: "Sen";
  background-color: #000000;
  color: #ffffff;
}
body .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
body .header ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
}
body .header ul li {
  padding: 32px 24px;
}
body .header ul li a {
  text-decoration: none;
}
body .header ul li:last-child {
  background-color: #5221e6;
}
body .header .hamburger {
  display: none;
  cursor: pointer;
}
body .header .hamburger .bar {
  display: block;
  width: 18px;
  height: 3px;
  transition: all 0.3s ease-in-out;
  background-color: #c4c4c4;
}
body .header .hamburger .bar:last-child {
  width: 13px;
}
body main .firstContainer {
  display: flex;
  height: 814px;
  row-gap: 1vw;
  padding-right: 2vw;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background: url("../images/Rectangle_37.png") no-repeat #181823;
  background-size: contain;
  background-position: left;
}
body main .secondContainer {
  display: grid;
  justify-content: center;
  padding: 5vw;
}
body main .secondContainer .secondContainerItems {
  display: grid;
  grid-template-columns: repeat(3, auto);
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
body main .secondContainer .secondContainerItems div {
  display: grid;
  grid-template-rows: repeat(2, auto) 70px;
  gap: 1vw;
}
body main .secondContainer .secondContainerItems p {
  max-width: 368px;
}
body main .thirdContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  align-items: flex-start;
  gap: 4vw;
  height: 600px;
  background: url("../images/Rectangle_39.png") no-repeat right #fff3e4;
}
body main .thirdContainer h2 {
  color: #181823;
}
body main .thirdContainer p {
  color: #181823;
  opacity: 0.5;
}
body main .thirdContainer a {
  text-decoration: none;
  padding-bottom: 4px;
  color: #181823;
  border-bottom: 1px solid #5b6876;
  margin-top: 5vw;
  transition: 0.4s ease-in;
}
body main .thirdContainer a:hover {
  color: #5221e6;
  border-bottom: 1px solid #5221e6;
}
body main .fourthContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5vw;
  gap: 2vw;
}
body main .fourthContainer .fourthContainerHeaderContainer {
  max-width: 416px;
  width: 100%;
}
body main .fourthContainer .fourthContainerHeaderContainer p {
  max-width: 368px;
}
body main .fourthContainer ul {
  display: grid;
  grid-template-columns: repeat(2, 416px);
  list-style-type: none;
  gap: 1vw;
}
body main .fourthContainer ul li {
  display: grid;
  gap: 1vw;
  grid-template-rows: repeat(4, auto);
}
body main .fourthContainer ul li p {
  max-width: 368px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
body main .fifthContainer {
  max-width: 1360px;
  margin: auto;
  overflow: hidden;
  padding-block: 5vw;
  white-space: nowrap;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
body main .fifthContainer:before,
body main .fifthContainer:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
body main .fifthContainer:hover .logosSlider {
  animation-play-state: paused;
}
body main .logosSlider {
  display: grid;
  grid-template-columns: repeat(6, 340px);
  grid-template-rows: 140px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  animation: 35s slide infinite linear;
}
body main .logosSlider li {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: solid 1px #181823;
}
body main .logosSlider img {
  text-align: center;
  margin: 0 40px;
}
body main .sixthContainer {
  display: grid;
  grid-template-columns: repeat(2, 636px);
  justify-content: center;
  gap: 1vw;
  padding: 5vw;
}
body main .sixthContainer .sixthContainerItem:last-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vw;
}
body main .sixthContainer div h2 {
  max-width: 572px;
  padding-bottom: 3vw;
}
body main .sixthContainer div button {
  padding: 1.5vw 2vw;
  border: 1px solid #5221e6;
}
body main .sixthContainer div ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
body main .sixthContainer div ul li {
  background: #181823;
}
body main .sixthContainer div ul li div {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 0.5vw;
  padding: 2vw 1.5vw;
}
body main .sixthContainer div ul li div p {
  color: #deecf9;
  opacity: 0.5;
  max-width: 572px;
}
body main .seventhContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  align-items: flex-start;
  gap: 4vw;
  height: 600px;
  background: url("../images/Rectangle_39_1_.png") no-repeat right #fbe4ff;
}
body main .seventhContainer h2,
body main .seventhContainer p {
  color: #000000;
}
body main .seventhContainer p {
  max-width: 576px;
  opacity: 0.5;
}
body main .seventhContainer a {
  text-decoration: none;
  padding-bottom: 4px;
  color: #181823;
  border-bottom: 1px solid #c7e0f4;
  margin-top: 5vw;
  transition: 0.4s ease-in;
}
body main .seventhContainer a:hover {
  color: #5221e6;
  border-bottom: 1px solid #5221e6;
}
body main .eighthContainer {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 8vw;
  justify-content: center;
  padding: 5vw;
}
body main .eighthContainer div:first-child {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 2vw;
}
body main .eighthContainer a {
  text-decoration: none;
  padding-bottom: 4px;
  color: #ffffff;
  border-bottom: 1px solid #deecf9;
  margin-top: 2vw;
  transition: 0.4s ease-in;
}
body main .eighthContainer a:hover {
  color: #5221e6;
  border-bottom: 1px solid #5221e6;
}
body main .eighthContainer p {
  max-width: 636px;
  color: #deecf9;
  opacity: 0.5;
}
body main .ninthContainer {
  display: grid;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  padding: 5vw;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}
body main .ninthContainer div p,
body main .ninthContainer div h2 {
  max-width: 588px;
}
body main .ninthContainer div p {
  color: #deecf9;
  opacity: 0.5;
  margin-top: 1vw;
  margin-bottom: 2vw;
}
body main .ninthContainer div a {
  text-decoration: none;
  padding-bottom: 4px;
  color: #ffffff;
  border-bottom: 1px solid #c7e0f4;
  transition: 0.4s ease-in;
}
body main .ninthContainer div a:hover {
  color: #5221e6;
  border-bottom: 1px solid #5221e6;
}
body main .ninthContainer ul {
  display: flex;
  flex-direction: column;
  row-gap: 8vw;
  list-style-type: none;
}
body main .ninthContainer ul li {
  display: flex;
  flex-direction: column;
}
body main .ninthContainer ul li div {
  display: grid;
  padding: 4.5vw;
  border: solid 1px #5b6876;
}
body main .ninthContainer ul li h4 {
  padding-top: 4.5vw;
  padding-bottom: 1vw;
  color: #5b6876;
}
body main .ninthContainer ul li span {
  color: #5b6876;
}
body main .ninthContainer ul li h3 {
  max-width: 508px;
}
body main .tenthContainer {
  display: grid;
  justify-content: center;
  padding: 5vw;
}
body main .tenthContainer p {
  color: #5b6876;
  max-width: 588px;
  padding-bottom: 2vw;
}
body main .tenthContainer div {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding-bottom: 2vw;
}
body main .tenthContainer div ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1vw;
}
body main .tenthContainer div ul li:first-child {
  background: #5221e6;
}
body main .tenthContainer div ul li {
  border: 1px solid #5221e6;
  padding: 0.75vw;
}
body main .tenthContainer div ul li a {
  text-decoration: none;
}
body main .tenthContainer ul {
  display: flex;
  gap: 1vw;
  list-style-type: none;
}
body main .eleventhContainer {
  display: grid;
  grid-template-columns: repeat(2, 526px);
  justify-content: center;
  gap: 1vw;
  padding: 5vw;
}
body main .eleventhContainer p {
  max-width: 526px;
  color: #5b6876;
}
body main .eleventhContainer form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
body main .eleventhContainer form label {
  max-width: 526px;
  display: flex;
  flex-direction: column;
}
body main .eleventhContainer form label input {
  border: none;
  background: #181823;
  height: 50px;
}
body main .eleventhContainer form label .messageInput {
  height: 100px;
}
body main .eleventhContainer form .eleventhTextInput {
  background: #181823;
}
body main .eleventhContainer form .button {
  text-transform: uppercase;
  background-color: #5221e6;
  padding: 1vw 2vw;
}
body footer {
  display: grid;
  grid-template-columns: repeat(2, 426px);
  grid-template-rows: repeat(2, auto);
  padding: 5vw;
  background: #181823;
  justify-content: space-between;
}
body footer span {
  margin-top: 5vw;
  font-size: 16px;
  max-width: 426px;
}
body footer ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(2, auto);
  gap: 1vw;
}
body footer ul a {
  text-decoration: none;
}
body footer div {
  display: flex;
  gap: 1.5vw;
  flex-direction: column;
  align-items: flex-start;
}
body footer div ul {
  display: flex;
  gap: 0.5vw;
}

@media (max-width: 1200px), (max-width: 992px) {
  body main .firstContainer {
    max-width: 100%;
    height: 60vw;
    background-color: #000000;
  }
  body main .firstContainer h1 {
    font-size: 55px;
  }
  body main .firstContainer p {
    max-width: 62vw;
  }
  body main .secondContainer p {
    font-size: 15px;
  }
  body main .fourthContainer {
    flex-direction: column;
  }
  body main .fourthContainer ul {
    grid-template-columns: repeat(2, 360px);
  }
  body main .fourthContainer ul li p {
    max-width: 40vw;
  }
  body main .sixthContainer {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: none;
  }
  body main .seventhContainer,
  body main .thirdContainer {
    background-position: 50vw;
  }
  body main .seventhContainer p,
  body main .seventhContainer h2,
  body main .thirdContainer p,
  body main .thirdContainer h2 {
    max-width: 37vw;
  }
  body main .seventhContainer p,
  body main .thirdContainer p {
    font-size: 15px;
  }
  body main .eighthContainer img {
    width: 100%;
  }
  body main .ninthContainer {
    row-gap: 3vw;
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
  }
  body main .tenthContainer div {
    padding-left: 6vw;
  }
  body main .tenthContainer ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  body main .eleventhContainer {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: none;
  }
  body footer {
    grid-template-columns: repeat(2, auto);
  }
  body footer ul {
    grid-template-columns: repeat(2, 20vw);
  }
}
@media (max-width: 767px) {
  body.scrollActive {
    overflow: hidden;
  }
  body .header {
    height: 72px;
  }
  body .header .hamburger {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    flex-direction: column;
  }
  body .header ul {
    position: fixed;
    left: -100%;
    top: 72px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
  }
  body .header ul li.active {
    left: 0;
  }
  body .header ul.active {
    left: 0;
  }
  body main .firstContainer {
    background: url(http://localhost:3000/static/media/Rectangle_37.b85942c5b3e4a7c24046.png) no-repeat #000000;
    background-position: top;
    background-size: contain;
    justify-content: end;
    height: 175vw;
  }
  body main .firstContainer h1 {
    font-size: 2rem;
  }
  body main .firstContainer p {
    max-width: 94vw;
  }
  body main .secondContainer .heading2 {
    font-size: 32px;
  }
  body main .secondContainer .secondContainerItems {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
  }
  body main .thirdContainer,
  body main .seventhContainer {
    height: 205vw;
    padding-top: 5vw;
    background-position: bottom;
    background-size: contain;
    justify-content: flex-start;
  }
  body main .thirdContainer h2,
  body main .seventhContainer h2 {
    font-size: 31px;
  }
  body main .thirdContainer h2,
  body main .thirdContainer p,
  body main .seventhContainer h2,
  body main .seventhContainer p {
    max-width: none;
  }
  body main .thirdContainer p,
  body main .seventhContainer p {
    font-size: 18px;
    padding-bottom: 10vw;
  }
  body main .fourthContainer ul {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
  }
  body main .fourthContainer ul li p {
    max-width: 90vw;
  }
  body main .fifthContainer {
    overflow: none;
    grid-template-columns: none;
  }
  body main .fifthContainer .logosSlider:last-child {
    display: none;
  }
  body main .fifthContainer .logosSlider {
    grid-template-rows: repeat(3, 32vw);
    grid-template-columns: repeat(2, 50vw);
    animation: none;
  }
}/*# sourceMappingURL=style.css.map */