// Font
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
$Base: #000000;
$Level1: #181823;
$LightGrey: #deecf9;
$DarkGrey: #5b6876;
$Text: #ffffff;
$Primary: #5221e6;
$GreenAccent: #3cc74e;
$PinkAccent: #e95d90;
$PeachAccent: #fff3e4;
$VioletAccent: #fbe4ff;

// Special classes
.heading1 {
  font-size: 78px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  span {
    opacity: 0.5;
  }
}
.pargraph {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.heading2 {
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.overline {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $LightGrey;
  text-transform: uppercase;
  opacity: 0.5;
}
.label1 {
  font-size: 117px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $LightGrey;
  opacity: 0.5;
}
.body2 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $LightGrey;
  opacity: 0.5;
}
.button {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
//Body
body {
  font-family: "Sen";
  background-color: $Base;
  color: $Text;
  // header
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, auto);
      align-items: center;
      li {
        padding: 32px 24px;
        a {
          text-decoration: none;
        }
      }
      li:last-child {
        background-color: $Primary;
      }
    }
    // Burger Menu
    .hamburger {
      display: none;
      cursor: pointer;
      .bar {
        display: block;
        width: 18px;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #c4c4c4;
      }
      .bar:last-child {
        width: 13px;
      }
    }
  }
  // Main container
  main {
    .firstContainer {
      display: flex;
      height: 814px;
      row-gap: 1vw;
      padding-right: 2vw;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      background: url("../images/Rectangle_37.png") no-repeat $Level1;
      background-size: contain;
      background-position: left;
    }
    .secondContainer {
      display: grid;
      justify-content: center;
      padding: 5vw;
      .secondContainerItems {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 24px;
        align-items: center;
        div {
          display: grid;
          grid-template-rows: repeat(2, auto) 70px;
          gap: 1vw;
        }
        p {
          max-width: 368px;
        }
      }
    }
    // Third Container
    .thirdContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5vw;
      align-items: flex-start;
      gap: 4vw;
      height: 600px;
      background: url("../images/Rectangle_39.png") no-repeat right $PeachAccent;
      h2 {
        color: $Level1;
      }
      p {
        color: $Level1;
        opacity: 0.5;
      }
      a {
        text-decoration: none;
        padding-bottom: 4px;
        color: $Level1;
        border-bottom: 1px solid $DarkGrey;
        margin-top: 5vw;
        transition: 0.4s ease-in;
      }
      a:hover {
        color: $Primary;
        border-bottom: 1px solid $Primary;
      }
    }
    // Fourth Container
    .fourthContainer {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 5vw;
      gap: 2vw;
      .fourthContainerHeaderContainer {
        max-width: 416px;
        width: 100%;
        p {
          max-width: 368px;
        }
      }
      ul {
        display: grid;
        grid-template-columns: repeat(2, 416px);
        list-style-type: none;
        gap: 1vw;
        li {
          display: grid;
          gap: 1vw;
          grid-template-rows: repeat(4, auto);
          p {
            max-width: 368px;
          }
        }
      }
    }
    // Fifth Container
    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }

    .fifthContainer {
      max-width: 1360px;
      margin: auto;
      overflow: hidden;
      padding-block: 5vw;
      white-space: nowrap;
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
    }

    .fifthContainer:before,
    .fifthContainer:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }
    .fifthContainer:hover .logosSlider {
      animation-play-state: paused;
    }

    .logosSlider {
      display: grid;
      grid-template-columns: repeat(6, 340px);
      grid-template-rows: 140px;
      list-style-type: none;
      align-items: center;
      justify-content: center;
      animation: 35s slide infinite linear;
    }
    .logosSlider li {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      border: solid 1px $Level1;
    }

    .logosSlider img {
      text-align: center;
      margin: 0 40px;
    }
    // Sixth container
    .sixthContainer {
      display: grid;
      grid-template-columns: repeat(2, 636px);
      justify-content: center;
      gap: 1vw;
      padding: 5vw;
      .sixthContainerItem:last-child {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
      }
      div {
        h2 {
          max-width: 572px;
          padding-bottom: 3vw;
        }
        button {
          padding: 1.5vw 2vw;
          border: 1px solid $Primary;
        }
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1vw;
          li {
            background: $Level1;
            div {
              display: grid;
              grid-template-rows: repeat(2, auto);
              gap: 0.5vw;
              padding: 2vw 1.5vw;
              p {
                color: $LightGrey;
                opacity: 0.5;
                max-width: 572px;
              }
            }
          }
        }
      }
    }
    // Seventh container
    .seventhContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5vw;
      align-items: flex-start;
      gap: 4vw;
      height: 600px;
      background: url("../images/Rectangle_39_1_.png") no-repeat right
        $VioletAccent;
      h2,
      p {
        color: $Base;
      }
      p {
        max-width: 576px;
        opacity: 0.5;
      }
      a {
        text-decoration: none;
        padding-bottom: 4px;
        color: #181823;
        border-bottom: 1px solid #c7e0f4;
        margin-top: 5vw;
        transition: 0.4s ease-in;
      }
      a:hover {
        color: $Primary;
        border-bottom: 1px solid $Primary;
      }
    }
    // Eighth container
    .eighthContainer {
      display: grid;
      grid-template-rows: repeat(2, auto);
      row-gap: 8vw;
      justify-content: center;
      padding: 5vw;
      div:first-child {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 2vw;
      }
      a {
        text-decoration: none;
        padding-bottom: 4px;
        color: $Text;
        border-bottom: 1px solid $LightGrey;
        margin-top: 2vw;
        transition: 0.4s ease-in;
      }
      a:hover {
        color: $Primary;
        border-bottom: 1px solid $Primary;
      }

      p {
        max-width: 636px;
        color: $LightGrey;
        opacity: 0.5;
      }
    }
    // Ninth Container
    .ninthContainer {
      display: grid;
      column-gap: 1vw;
      padding: 5vw;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      div {
        p,
        h2 {
          max-width: 588px;
        }
        p {
          color: $LightGrey;
          opacity: 0.5;
          margin-top: 1vw;
          margin-bottom: 2vw;
        }
        a {
          text-decoration: none;
          padding-bottom: 4px;
          color: $Text;
          border-bottom: 1px solid #c7e0f4;
          transition: 0.4s ease-in;
        }
        a:hover {
          color: #5221e6;
          border-bottom: 1px solid #5221e6;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 8vw;
        list-style-type: none;
        li {
          display: flex;
          flex-direction: column;
          div {
            display: grid;
            padding: 4.5vw;
            border: solid 1px $DarkGrey;
          }
          h4 {
            padding-top: 4.5vw;
            padding-bottom: 1vw;
            color: $DarkGrey;
          }
          span {
            color: $DarkGrey;
          }
          h3 {
            max-width: 508px;
          }
        }
      }
    }
    // tenth container
    .tenthContainer {
      display: grid;
      justify-content: center;
      padding: 5vw;
      p {
        color: $DarkGrey;
        max-width: 588px;
        padding-bottom: 2vw;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding-bottom: 2vw;
        ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          gap: 1vw;
          li:first-child {
            background: $Primary;
          }
          li {
            border: 1px solid $Primary;
            padding: 0.75vw;
            a {
              text-decoration: none;
            }
          }
        }
      }
      ul {
        display: flex;
        gap: 1vw;
        list-style-type: none;
      }
    }
    // Eleventh Container
    .eleventhContainer {
      display: grid;
      grid-template-columns: repeat(2, 526px);
      justify-content: center;
      gap: 1vw;
      padding: 5vw;
      p {
        max-width: 526px;
        color: $DarkGrey;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        label {
          max-width: 526px;
          display: flex;
          flex-direction: column;
          input {
            border: none;
            background: $Level1;
            height: 50px;
          }
          .messageInput {
            height: 100px;
          }
        }
        .eleventhTextInput {
          background: $Level1;
        }
        .button {
          text-transform: uppercase;
          background-color: $Primary;
          padding: 1vw 2vw;
        }
      }
    }
  }
  // Footer
  footer {
    display: grid;
    grid-template-columns: repeat(2, 426px);
    grid-template-rows: repeat(2, auto);
    padding: 5vw;
    background: $Level1;
    justify-content: space-between;
    span {
      margin-top: 5vw;
      font-size: 16px;
      max-width: 426px;
    }
    ul {
      display: grid;
      list-style-type: none;
      grid-template-columns: repeat(2, auto);
      gap: 1vw;
      a {
        text-decoration: none;
      }
    }
    div {
      display: flex;
      gap: 1.5vw;
      flex-direction: column;
      align-items: flex-start;
      ul {
        display: flex;
        gap: 0.5vw;
      }
    }
  }
}

// Optimization for tablets
@media (max-width: 1200px), (max-width: 992px) {
  body {
    main {
      // First Container
      .firstContainer {
        max-width: 100%;
        height: 60vw;
        background-color: #000000;
        h1 {
          font-size: 55px;
        }
        p {
          max-width: 62vw;
        }
      }
      .secondContainer {
        p {
          font-size: 15px;
        }
      }
      // Fourth Container
      .fourthContainer {
        flex-direction: column;
        ul {
          grid-template-columns: repeat(2, 360px);
          li {
            p {
              max-width: 40vw;
            }
          }
        }
      }
      // Sixth Container
      .sixthContainer {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
      }
      // Seventh Container
      .seventhContainer,
      .thirdContainer {
        background-position: 50vw;
        p,
        h2 {
          max-width: 37vw;
        }
        p {
          font-size: 15px;
        }
      }
      // Eight Container
      .eighthContainer {
        img {
          width: 100%;
        }
      }
      // Ninth Container
      .ninthContainer {
        row-gap: 3vw;
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
      }
      // Tenth Container
      .tenthContainer {
        div {
          padding-left: 6vw;
        }
        ul {
          flex-wrap: wrap;
          justify-content: center;
        }
      }

      // Eleventh Container
      .eleventhContainer {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
      }
    }
    // Footer
    footer {
      grid-template-columns: repeat(2, auto);
      ul {
        grid-template-columns: repeat(2, 20vw);
      }
    }
  }
}

// Optimization for mobile phones
@media (max-width: 767px) {
  body.scrollActive {
    overflow: hidden;
  }
  body {
    .header {
      height: 72px;
      // hamb menu
      .hamburger {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 5px;
        flex-direction: column;
      }
      ul {
        position: fixed;
        left: -100%;
        top: 72px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: $Base;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 100;
        li.active {
          left: 0;
        }
      }
      ul.active {
        left: 0;
      }
    }
    main {
      // first container
      .firstContainer {
        background: url(http://localhost:3000/static/media/Rectangle_37.b85942c5b3e4a7c24046.png)
          no-repeat $Base;
        background-position: top;
        background-size: contain;
        justify-content: end;
        height: 175vw;
        h1 {
          font-size: 10vw;
        }
        p {
          max-width: 94vw;
        }
      }
      // second container
      .secondContainer {
        .heading2 {
          font-size: 32px;
        }
        .secondContainerItems {
          grid-template-columns: none;
          grid-template-rows: repeat(3, auto);
        }
      }
      // Third/Seventh container
      .thirdContainer,
      .seventhContainer {
        height: 205vw;
        padding-top: 5vw;
        background-position: bottom;
        background-size: contain;
        justify-content: flex-start;
        h2 {
          font-size: 31px;
        }
        h2,
        p {
          max-width: none;
        }
        p {
          font-size: 18px;
          padding-bottom: 10vw;
        }
      }
      // fourth container
      .fourthContainer {
        ul {
          grid-template-rows: repeat(4, auto);
          grid-template-columns: none;
          li {
            p {
              max-width: 90vw;
            }
          }
        }
      }
      // fifth container
      .fifthContainer {
        overflow: none;
        grid-template-columns: none;
        .logosSlider:last-child {
          display: none;
        }
        .logosSlider {
          grid-template-rows: repeat(3, 32vw);
          grid-template-columns: repeat(2, 50vw); // edited source
          animation: none;
        }
      }
      // sixth container
      .sixthContainer {
        .sixthContainerItem {
          max-width: 100%;
          ul {
            max-width: 100%;
            li {
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
