// Font
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
$Base: #000000;
$Level1: #181823;
$LightGrey: #deecf9;
$DarkGrey: #5b6876;
$Text: #ffffff;
$Primary: #5221e6;
$GreenAccent: #3cc74e;
$PinkAccent: #e95d90;
$PeachAccent: #fff3e4;
$VioletAccent: #fbe4ff;

// Special classes
.heading1 {
  font-size: 78px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  span {
    opacity: 0.5;
  }
}
.pargraph {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.heading2 {
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.overline {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $LightGrey;
  text-transform: uppercase;
  opacity: 0.5;
}
.label1 {
  font-size: 117px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $LightGrey;
  opacity: 0.5;
}
.body2 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $LightGrey;
  opacity: 0.5;
}
.button {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
//Body
body {
  font-family: "Sen";
  background-color: $Base;
  color: $Text;
  // header
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, auto);
      align-items: center;
      li {
        padding: 32px 24px;
        a {
          text-decoration: none;
        }
      }
      li:last-child {
        background-color: $Primary;
      }
    }
  }
  // Main container
  main {
    .firstContainer {
      display: flex;
      height: 814px;
      row-gap: 1vw;
      padding-right: 2vw;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      background: url("../images/Rectangle_37.png") no-repeat $Level1;
      background-size: contain;
      background-position: left;
    }
    .secondContainer {
      display: grid;
      justify-content: center;
      padding: 5vw;
      .secondContainerItems {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 24px;
        align-items: center;
        div {
          display: grid;
          grid-template-rows: repeat(2, auto) 70px;
          gap: 1vw;
        }
        p {
          max-width: 368px;
        }
      }
    }
    // Third Container
    .thirdContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5vw;
      align-items: flex-start;
      gap: 4vw;
      height: 600px;
      background: url("../images/Rectangle_39.png") no-repeat right $PeachAccent;
      h2 {
        color: $Level1;
      }
      p {
        color: $Level1;
        opacity: 0.5;
      }
      a {
        text-decoration: none;
        padding-bottom: 4px;
        color: $Level1;
        border-bottom: 1px solid $DarkGrey;
        margin-top: 5vw;
        transition: 0.4s ease-in;
      }
      a:hover {
        color: $Primary;
        border-bottom: 1px solid $Primary;
      }
    }
    // Fourth Container
    .fourthContainer {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 5vw;
      gap: 2vw;
      .fourthContainerHeaderContainer {
        max-width: 416px;
        width: 100%;
        p {
          max-width: 368px;
        }
      }
      ul {
        display: grid;
        grid-template-columns: repeat(2, 416px);
        list-style-type: none;
        gap: 1vw;
        li {
          display: grid;
          gap: 1vw;
          grid-template-rows: repeat(4, auto);
          p {
            max-width: 368px;
          }
        }
      }
    }
    // Fifth Container
    .fifthContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5vw;
      ul {
        display: grid;
        grid-template-columns: repeat(4, 340px);
        grid-template-rows: 140px;
        align-items: center;
        list-style-type: none;
        li {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: solid 1px $Level1;
        }
      }
    }
    // Sixth container
    .sixthContainer {
      display: grid;
      grid-template-columns: repeat(2, 636px);
      justify-content: center;
      gap: 1vw;
      padding: 5vw;
      .sixthContainerItem:last-child {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
      }
      div {
        h2 {
          max-width: 572px;
          padding-bottom: 3vw;
        }
        button {
          padding: 1.5vw 2vw;
          border: 1px solid $Primary;
        }
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1vw;
          li {
            background: $Level1;
            div {
              display: grid;
              grid-template-rows: repeat(2, auto);
              gap: 0.5vw;
              padding: 2vw 1.5vw;
              p {
                color: $LightGrey;
                opacity: 0.5;
                max-width: 572px;
              }
            }
          }
        }
      }
    }
    // Seventh container
    .seventhContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5vw;
      align-items: flex-start;
      gap: 4vw;
      height: 600px;
      background: url("../images/Rectangle_39_1_.png") no-repeat right
        $VioletAccent;
      h2,
      p {
        color: $Base;
      }
      p {
        max-width: 576px;
        opacity: 0.5;
      }
      a {
        text-decoration: none;
        padding-bottom: 4px;
        color: #181823;
        border-bottom: 1px solid #c7e0f4;
        margin-top: 5vw;
        transition: 0.4s ease-in;
      }
      a:hover {
        color: $Primary;
        border-bottom: 1px solid $Primary;
      }
    }
    // Eighth container
    .eighthContainer {
      display: grid;
      grid-template-rows: repeat(2, auto);
      row-gap: 8vw;
      justify-content: center;
      padding: 5vw;
      div:first-child {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 2vw;
      }
      a {
        text-decoration: none;
        padding-bottom: 4px;
        color: $Text;
        border-bottom: 1px solid $LightGrey;
        margin-top: 2vw;
        transition: 0.4s ease-in;
      }
      a:hover {
        color: $Primary;
        border-bottom: 1px solid $Primary;
      }

      p {
        max-width: 636px;
        color: $LightGrey;
        opacity: 0.5;
      }
    }
    // Ninth Container
    .ninthContainer {
      display: grid;
      column-gap: 1vw;
      padding: 5vw;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      div {
        p,
        h2 {
          max-width: 588px;
        }
        p {
          color: $LightGrey;
          opacity: 0.5;
          margin-top: 1vw;
          margin-bottom: 2vw;
        }
        a {
          text-decoration: none;
          padding-bottom: 4px;
          color: $Text;
          border-bottom: 1px solid #c7e0f4;
          transition: 0.4s ease-in;
        }
        a:hover {
          color: #5221e6;
          border-bottom: 1px solid #5221e6;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 8vw;
        list-style-type: none;
        li {
          display: flex;
          flex-direction: column;
          div {
            display: grid;
            padding: 4.5vw;
            border: solid 1px $DarkGrey;
          }
          h4 {
            padding-top: 4.5vw;
            padding-bottom: 1vw;
            color: $DarkGrey;
          }
          span {
            color: $DarkGrey;
          }
          h3 {
            max-width: 508px;
          }
        }
      }
    }
    // tenth container
    .tenthContainer {
      display: grid;
      justify-content: center;
      padding: 5vw;
      p {
        color: $DarkGrey;
        max-width: 588px;
        padding-bottom: 2vw;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding-bottom: 2vw;
        ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          gap: 1vw;
          li:first-child {
            background: $Primary;
          }
          li {
            border: 1px solid $Primary;
            padding: 0.75vw;
            a {
              text-decoration: none;
            }
          }
        }
      }
      ul {
        display: flex;
        gap: 1vw;
        list-style-type: none;
      }
    }
  }
}
